* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
body {
  font-family: "Inter", sans-serif;
  background: #ffdb58;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
.forms {
  padding: 15px 15px;
}
.h2-title {
  text-transform: uppercase;
  color: #2c2c2c;
  font-weight: 600;
  font-size: 20px;
  border-bottom: 1px solid #2c2c2c;
  padding-bottom: 20px;
}
.h4-title {
  font-size: 13px;
}
.forms-section {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
}
.form-section__item {
  padding-top: 20px;
}
.form-section__name {
  padding-bottom: 10px;
}
.forms-section__input {
  width: 100%;
  border-radius: 4px;
  padding: 10px 12px;
  background: rgba(224, 224, 224, 0.3);
  border: 1px solid #e0e0e0;
}
.forms-section__input__search {
  padding-right: 36px;
}
.focus-input {
  border: 1px solid #18a0fb;
}

.error-input {
  border: 1px solid #ff3e1d;
}
.forms-section__input:focus {
  border: 1px solid #18a0fb;
  box-shadow: 5px 5px #18a0fb;
  transition: 0.5s;
}
.forms-section_wrapper {
  position: relative;
}
.button__search {
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 196px;
  width: 32px;
  height: 35px;
  background: transparent;
}
.form-section__icon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  opacity: 0.5;
}
textarea {
  resize: none;
}
.error-input::placeholder {
  color: #ff3e1d;
}
.forms-checkbox {
  display: flex;
  flex-direction: column;
}
.checkbox,
.radio {
  display: flex;
  align-items: center;
  margin: 10px 10px;
}
.forms-checkbox__box {
  display: none;
}
.forms-checkbox__label {
  cursor: pointer;
  margin: 0 10px;
}
.forms-checkbox__label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  vertical-align: middle;
  box-shadow: 0 0 10px #18a0fb;
}

.forms-checkbox__label-disabled::before {
  content: "";
  display: inline-block;
  background: #e0e0e0;
  border: 1px solid #e0e0e0;
  width: 16px;
  height: 16px;
  border-radius: 4px;
}
.forms-checkbox__box:checked + .forms-checkbox__label::before {
  content: "";
  border-radius: 4px;
  background: url(../img/svg/v.svg) 50% no-repeat;
  background-color: #18a0fb;
  box-shadow: none;
}
.forms-checkbox__label::before {
  background: #e0e0e0;
  width: 16px;
  height: 16px;
  border-radius: 4px;
}
.forms-radio {
  display: flex;
  flex-direction: column;
}
.forms-radio__box {
  display: none;
}
.forms-radio__label {
  cursor: pointer;
  margin: 0 10px;
}
.forms-radio__label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #e0e0e0;
  vertical-align: middle;
  padding-right: 8px;
  box-shadow: 0 0 10px #18a0fb;
}
.forms-radio__label-disabled::before {
  content: "";
  display: inline-block;
  border: 1px solid #e0e0e0;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 50%;
}
.forms-radio__box:checked + .forms-radio__label::before {
  content: "";
  border-radius: 50%;
  background: url(../img/svg/Ellipse.svg) 50% no-repeat;
  background-color: #18a0fb;
  box-shadow: none;
}
.forms-switch {
  display: flex;
  flex-direction: column;
}
.switch {
  display: flex;
  align-items: center;
  margin: 10px 10px;
}
.form-switch__name {
  font-weight: 500;
  order: 2;
}
.forms-switch__box {
  display: none;
}
.forms-slider__label {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 32px;
  order: 1;
  margin: 0 10px;
}
.mini {
  height: 24px;
}
.forms-switch__span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e0e0e0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 19px;
}
.forms-switch__span-disabled {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 19px;
}
.forms-switch__span:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 3px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
.minis:before {
  height: 20px;
  width: 20px;
  left: 7px;
  bottom: 2px;
}
.forms-switch__span-disabled::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 3px;
  background: #2c2c2c;
  opacity: 0.2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
.minis_disabled:before {
  height: 20px;
  width: 20px;
  bottom: 2px;
}
.forms-switch__box:checked + .forms-switch__span {
  background: #00d200;
}
.forms-switch__box:focus + .forms-switch__span {
  box-shadow: 0 0 1px #00d200;
}
.forms-switch__box:checked + .forms-switch__span:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.section-button {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
}
.buttons {
  margin: 10px 0px;
}
.btn {
  width: 144px;
  height: 46px;
  border-radius: 5px;
  color: #2c2c2c;
  font-weight: 500;
  font-size: 15px;
}
.small {
  width: 116px;
  height: 36px;
  font-size: 13px;
}
.button__blue {
  background: #18a0fb;
  border-radius: 5px;
  color: #ffffff;
}
.button__blue_icon {
  background-image: url(../img/svg/downloadwhite.svg);
  background-position: 85% 50%;
  background-repeat: no-repeat;
  padding-right: 40px;
}
.button__blue:hover {
  border: 2px dashed #ffffff;
  opacity: 0.8;
}
.button__disabled {
  cursor: auto;
  background-color: rgba(224, 224, 224, 0.3);
  color: #878787;
}
.button__blue_grey {
  background-image: url(../img/svg/downloadgrey.svg);
  background-position: 85% 50%;
  background-repeat: no-repeat;
  padding-right: 40px;
}
.button__secondary {
  border: 1px solid #e0e0e0;
  background: #ffffff;
}
.button__secondary:hover {
  border: 2px dashed #043557;
}
.button__blue_black {
  background-image: url(../img/svg/downloadblack.svg);
  background-position: 85% 50%;
  background-repeat: no-repeat;
  padding-right: 40px;
}
.button__secondary:focus {
  color: #18a0fb;
  border: 1px solid #18a0fb;
}
.button__blue_black:focus {
  background-image: url(../img/svg/downloadblue.svg);
  background-position: 85% 50%;
  background-repeat: no-repeat;
  padding-right: 40px;
}
.button__right {
  margin-left: 5px;
}
.button__left {
  margin-right: 5px;
}
.buttons_tab {
  width: 56px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  margin: -2px;
}
.search {
  border-radius: 5px 0px 0px 5px;
  background-image: url(../img/svg/vectorblack.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #fff;
}
.search:focus {
  background-image: url(../img/svg/vectorwhite.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #18a0fb;
}
.donwoload {
  box-shadow: inset 0px 1px 0px #e0e0e0, inset 0px -1px 0px #e0e0e0;
  border-radius: 0px;
  background-image: url(../img/svg/downloadblack.svg);
  background-position: 50%;
  background-repeat: no-repeat;
}
.donwoload:focus {
  background-image: url(../img/svg/downloadwhite.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #18a0fb;
}
.archive {
  border: 1px solid #e0e0e0;
  border-radius: 0px 5px 5px 0px;
  background-image: url(../img/svg/Archive.svg);
  background-position: 50%;
  background-repeat: no-repeat;
}
.archive:focus {
  background-image: url(../img/svg/archivewhite.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #18a0fb;
}
.buttons__tab {
  width: 134px;
  height: 46px;
  margin: -2px;
}
.buttons__size {
  width: 107px;
  height: 46px;
  margin: -2px;
}
.first {
  border-radius: 5px 0px 0px 5px;
}
.first:focus {
  background: #18a0fb;
  color: #fff;
}
.second {
  border: 1px solid #e0e0e0;
  border-radius: 0px 5px 5px 0px;
}
.second:focus {
  background: #18a0fb;
  color: #fff;
}
.third {
  border: 1px solid #e0e0e0;
  border-radius: 0px 5px 5px 0px;
}
.third:focus {
  background: #18a0fb;
  color: #fff;
}
.size {
  box-shadow: inset 0px 1px 0px #e0e0e0, inset 0px -1px 0px #e0e0e0;
  border-radius: 0px;
}
.button-tag {
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
}
.button__box {
  width: 65px;
  height: 28px;
  border-radius: 5px;
  margin: 10px;
  position: relative;
}
.button__box_white {
  border: 1px solid #e0e0e0;
  background: #fff;
}
.button__box_blue {
  background: #18a0fb;
}
.button__box_green {
  background: #32cd32;
}
.button__box_red {
  background: #b22222;
}
.button__box_brown {
  background: #8b4513;
}
.button__box_purple {
  background: #9b30ff;
}
.button__box_grey {
  background: #696969;
}
.button__box_darkgreen {
  background: #006400;
}
.button__box_orange {
  background: #ff4500;
}
.section-slider {
  margin-top: 20px;
}
.sliders {
  display: flex;
  justify-content: space-between;
}
.slider {
  min-width: 200px;
}
.noUi-target {
  background: #e0e0e0;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
}
.noUi-horizontal .noUi-handle {
  width: 29px;
  height: 29px;
  right: -17px;
  top: -6px;
  border-radius: 76px;
}
.noUi-connects {
  border-radius: 10px;
}
.noUi-connect {
  background: #18a0fb;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #18a0fb;
  color: #fafbfd;
  font-size: 10px;
  font-weight: 500;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding-top: 12px;
}
.noUi-tooltip::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #18a0fb;
  bottom: -7px;
  left: 50%;
  transform: translate(-50%);
}

.section-tag {
  padding-bottom: 40px;
}
.button__tag {
  width: 20px;
  height: 20px;
  border-radius: 40px;
  margin-left: 10px;
  margin-top: 4px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.button__tag_white {
  background: #fff;
}
.button__tag_blue {
  background: #18a0fb;
}
.button__tag_green {
  background: #32cd32;
}
.button__tag_red {
  background: #b22222;
}
.button__tag_brown {
  background: #8b4513;
}
.button__tag_purple {
  background: #9b30ff;
}
.button__tag_grey {
  background: #696969;
}
.button__tag_darkgreen {
  background: #006400;
}
.button__tag_orange {
  background: #ff4500;
}
.button__name {
  position: relative;
  top: 5px;
  left: 10px;
  color: #fff;
}
.button__name_white {
  color: #18a0fb;
}
.button__tag:before {
  content: "+";
  position: absolute;
  z-index: 2;
  transform: rotate(45deg);
  font-size: 22px;
  line-height: 1;
  top: -2px;
  left: 4px;
  transition: all 0.7s cubic-bezier(0.77, 0, 0.2, 0.85);
  color: #fff;
}
.button__tag_white:before {
  color: #18a0fb;
}

.button__tag:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transform: scale(0.01);
  background: #fff;
}
.button__tag_white:after {
  background: #18a0fb;
}

.button__tag:hover::after {
  transform: scale(1);
}

.button__tag:hover::before {
  transform: scale(0.8) rotate(45deg);
}
.button__tag_white:hover::before {
  color: #fff;
}
.button__tag_blue:hover::before {
  color: #18a0fb;
}
.button__tag_green:hover::before {
  color: #32cd32;
}
.button__tag_red:hover::before {
  color: #b22222;
}
.button__tag_brown:hover::before {
  color: #8b4513;
}
.button__tag_purple:hover::before {
  color: #9b30ff;
}
.button__tag_grey:hover::before {
  color: #696969;
}
.button__tag_darkgreen:hover::before {
  color: #006400;
}
.button__tag_orange:hover::before {
  color: #ff4500;
}
.container-second {
  max-width: 1240px;
  margin: 0 auto;
}
.tabs {
  margin-bottom: 100px;
}
.tab {
  display: flex;
  justify-content: space-around;
}
.tab__buttons {
  display: flex;
  font-weight: 500;
  align-items: center;
  vertical-align: center;
}
.tab__change {
  border: 1px solid transparent;
  background-color: transparent;
  padding: 11px 38px;
}
.tab__change:focus {
  color: #18a0fb;
}
.tab__change.active {
  color: #18a0fb;
  border-bottom: 1px solid #18a0fb;
}
.tab__icon_1 {
  background-image: url(../img/svg/searchblack.svg);
  background-position: 7% 50%;
  background-repeat: no-repeat;
  padding-right: 40px;
}
.tab__icon_1:focus {
  background-image: url(../img/svg/Searchblue.svg);
}
.tab__icon_2 {
  background-image: url(../img/svg/Archiveblack.svg);
  background-position: 7% 50%;
  background-repeat: no-repeat;
  padding-right: 40px;
}
.tab__icon_2:focus {
  background-image: url(../img/svg/Archiveblue.svg);
}

.tab__icon_3 {
  background-image: url(../img/svg/downloadblack.svg);
  background-position: 7% 50%;
  background-repeat: no-repeat;
  padding-right: 40px;
}

.tab__icon_3:focus {
  background-image: url(../img/svg/downloadblue.svg);
}
.breadcrumbs {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: space-around;
  color: #2c2c2c;
  background-color: transparent;
}
.breadcrumbs__list {
  display: flex;
}
.breadcrumbs__link {
  list-style: none;
  margin: 10px 12px;
}
.breadcrumbs__link:hover {
  opacity: 1;
}
.breadcrumbs__next {
  opacity: 0.5;
}
.breadcrumbs__active {
  opacity: 1;
}

.breadcrumbs__link::after {
  content: "";
  display: inline-flex;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #2c2c2c;
  border-right: 2px solid #2c2c2c;
  transform: translateY(-2px) rotate(-45deg);
  margin-left: 15px;
}
.breadcrumbs__link_blue::after {
  border-bottom: 2px solid rgba(44, 44, 44, 0.5);
  border-right: 2px solid rgba(44, 44, 44, 0.5);
}
.breadcrumbs__link:last-child::after {
  display: none;
}
.breadcrumbs__item {
  text-decoration: none;
  color: #2c2c2c;
}
.breadcrumbs__item__blue {
  color: #18a0fb;
}
.counter {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  align-items: center;
  justify-content: space-around;
}
.counter__model {
  width: 100px;
  height: 42px;
  border: 1px solid #18a0fb;
  border-radius: 100px;
  margin: 20px 0;
  background-color: #474a51;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counter__model__box {
  width: 83px;
  border-radius: 5px;
}
.counter__btn {
  margin: 1px 0;
  width: 36px;
  height: 36px;
  border-radius: 100px;
}
.counter__btn__box {
  border-radius: 5px;
  margin: 1px 1px;
  width: 36px;
  height: 36px;
}
.counter__btn__box:hover {
  box-shadow: 0px 0px 5px #18a0fb;
}
.counter__btn__right {
  background: #18a0fb;
}
.counter__btn__right:hover {
  box-shadow: 0px 0px 5px #ffffff;
}
.counter-down {
  background: #ffffff;
  margin-left: 2px;
}
.counter-down:hover {
  box-shadow: 0px 0px 5px #18a0fb;
}

.counter-up {
  background: #18a0fb;
  margin-right: 2px;
}
.counter-up:hover {
  box-shadow: 0px 0px 5px #ffffff;
}
.left-arrow,
.right-arrow {
  display: inline-flex;
  width: 8px;
  height: 8px;
}
.left-arrow {
  border-top: 2px solid #18a0fb;
  border-left: 2px solid #18a0fb;
  transform: rotate(-45deg);
  margin-left: 3px;
}
.right-arrow {
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  transform: rotate(-45deg);
  margin-right: 3px;
}
.counter__number {
  color: white;
  left: 10px;
}
.steps-breadcrumbs {
  display: flex;
}
.step-breadcrumb {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 90px;
  fill: rgba(24, 160, 251, 0.1);
  color: #18a0fb;
}
.step-breadcrumb:hover {
  fill: #18a0fb;
  color: #fff;
}
.step-breadcrumb__active {
  fill: #18a0fb;
  color: #fff;
}
.step-breadcrumb__text {
  display: inline-block;
  position: relative;
  left: 28px;
  top: 22px;
  font-weight: 500;
  font-size: 13px;
}
.upload {
  display: flex;
  justify-content: space-around;
}
.donwoload__box {
  width: 273px;
  height: 281px;
  background-color: #fff;
  display: inline-block;
  border-radius: 5px;
  border: 1px dashed #474a51;
  box-shadow: 0px 5px 5px #474a51;
  text-align: center;
  margin-top: 20px;
}
.donwoload__box:hover {
  transition: all 0.3s;
  box-shadow: 0px 5px 5px #18a0fb;
  border: 1px dashed #18a0fb;
}
.error {
  border: 1px dashed #ff3e1d;
  box-shadow: 0px 5px 5px #ff3e1d;
}
.success {
  border: 1px dashed #00d200;
  box-shadow: 0px 5px 5px #00d200;
}

.donwoload__btn {
  width: 100%;
  height: 100%;
}
.donwoload__text {
  display: block;
}
.donwoload__text_success {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 124px;
  height: 36px;
  margin: 0 auto;
  padding: 9px 23px;
  font-size: 13px;
  font-weight: 500;
}
.donwoload__icon {
  margin-top: 49px;
  margin-bottom: 13px;
}
.donwoload__icon_success {
  margin-top: 10px;
  margin-bottom: 26px;
}
.h3-title {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #2c2c2c;
}
.donwoload__title {
  margin-bottom: 8px;
}
.donwoload__title_error {
  font-weight: 600;
  font-size: 18px;
  color: #ff3e1d;
}
.donwoload__title_success {
  font-weight: 600;
  font-size: 15px;
  color: #2c2c2c;
  margin-bottom: 23px;
}
.donwoload__label {
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  color: #2c2c2c;
  opacity: 0.4;
  margin-bottom: 28px;
  cursor: pointer;
}
.donwoload__label_success {
  display: none;
}

.progress {
  height: 8px;
  width: 183px;
  background: #e0e0e0;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 19px;
}
.progress-done {
  opacity: 0;
  height: 8px;
  width: 0;
  background: #18a0fb;
  border-radius: 10px;
  transition: all 2s ease;
}
.progress-text {
  display: inline-block;
  margin-top: 89px;
  margin-bottom: 14px;
}
.donwoload__button {
  width: 91px;
  height: 36px;
  display: block;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
.paginations {
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
}
.pagination {
  background: #fff;
  align-items: center;
  max-width: 189px;
}
.pagination-big {
  min-width: 320px;
  background: #fff;
}
.pagination__model {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choices {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  min-width: 66px;
  color: #8b8b8b;
}
.choices[data-type*="select-one"]::after {
  border-color: black transparent transparent;
  opacity: 0.4;
}

.choices__list--single {
  padding-right: 28px;
}
.choices__inner {
  border: 1px solid rgba(139, 139, 139, 0.2);
}
.pagination_list {
  display: flex;
  margin: 3px 0;
}
.pagination__link {
  margin: 10px;
}
.pagination__item {
  color: #2c2c2c;
  opacity: 0.5;
}
.pagination-active {
  color: #18a0fb;
  opacity: 1;
}
.pagination__item:hover {
  color: #18a0fb;
  opacity: 1;
}
.pagination__item:focus {
  color: #18a0fb;
  opacity: 1;
}
.pagination__btn {
  width: 36px;
  height: 36px;
}
.pagination__text {
  font-weight: 500;
  font-size: 13px;
  color: #8b8b8b;
}
.pagination__text__left {
  padding-left: 13px;
}
.pagination__text__right {
  color: rgba(24, 160, 251, 1);
  padding-right: 14px;
}

.pagination__button {
  width: 89px;
  height: 36px;
  background: rgba(224, 224, 224, 0.3);
  border-radius: 5px;
}
.pagination-arrow__left,
.pagination-arrow__right {
  display: inline-flex;
  width: 8px;
  height: 8px;
}
.pagination-arrow__left {
  border-top: 2px solid rgba(44, 44, 44, 0.5);
  border-left: 2px solid rgba(44, 44, 44, 0.5);
  transform: rotate(-45deg);
  margin-left: 15px;
}
.pagination-arrow__right {
  border-bottom: 2px solid #18a0fb;
  border-right: 2px solid #18a0fb;
  transform: rotate(-45deg);
  margin-right: 15px;
}

.select {
  display: flex;
  justify-content: space-around;
}
.option__title {
  margin-bottom: 7px;
}
.option,
.choose {
  min-width: 200px;
}

.choices__inner {
  padding: 10.5px 7.5px 3.75px;
}
.choices__item {
  font-size: 13px;
  color: #2c2c2c;
  opacity: 0.5;
}
.calendar__box {
  max-width: 200px;
}
#Datepickk.inline.d-show .d-calendar {
  border-radius: 10px;
}
#Datepickk .d-header p {
  margin: 1em 0;
}
#Datepickk .d-header {
  color: #2c2c2c;
  font-size: 12px;
  font-weight: 500;
  background-color: rgba(24, 160, 251, 0.1);
  border-radius: 5px;
}
#Datepickk .d-year-picker {
  background-color: rgba(27, 54, 63, 0.9);
}
#Datepickk .d-month-picker.d-show,
.d-year-picker.d-show {
  font-size: 13px;
  font-weight: 500;
}
#Datepickk .d-weekdays {
  margin: 0 11px 0 17px;
}
#Datepickk .d-week {
  background-color: #fff;
  color: #2c2c2c;
  font-size: 12px;
}
#Datepickk .d-tables {
  font-size: 12px;
  line-height: 230%;
}
#Datepickk .d-table input + label:before {
  border-radius: 11px;
  background-color: #18a0fb;
}
#Datepickk
  .d-tables.range:not(.before)
  input:not(.single):checked
  + label
  ~ label:not(.hidden):before {
  background-color: rgba(24, 160, 251, 0.2);
}
#Datepickk
  .d-tables.range:not(.before)
  input:not(.single):checked
  ~ input:checked
  + label:before {
  background-color: #18a0fb;
}
#Datepickk .d-tables.range:not(.before) input:not(.single):checked + label,
#Datepickk
  .d-tables.range:not(.before)
  input:not(.single):checked
  + label
  ~ label:not(.hidden) {
  color: #2c2c2c;
}
#Datepickk
  .d-tables.range:not(.before)
  input:not(.single):checked
  ~ input:checked
  + label {
  color: #fff;
}
#Datepickk .d-tables.range:not(.before) input:not(.single):checked + label {
  color: #fff;
}
.step-bars {
  display: flex;
  justify-content: space-around;
}
.step-bar {
  position: relative;
  display: inline-block;
  min-height: 300px;
}
.step-bar_pozition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-bar_pozition__mini {
  transform: translate(-246%, -650%);
}
.steps {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}
.steps__vertical {
  flex-direction: column;
  min-height: 300px;
  min-width: 0;
  min-height: 300px;
}
.steps__mini {
  min-width: 240px;
}
.step {
  position: relative;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 2px solid #acaca6;
  border-radius: 50%;
  transition: background-color 1s;
}
.step__mini {
  position: relative;
  background: #e0e0e0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  color: rgba(44, 44, 44, 0.5);
}

.step__text {
  position: relative;
  display: block;
  width: 41px;
  margin-top: 10px;
  left: -13px;
  font-size: 13px;
  font-weight: 500;
}
.step__text:hover {
  cursor: pointer;
  color: #2c2c2c;
}

.step-bar__selected {
  border: 2px solid #18a0fb;
  background: url(../img/svg/Ellipse.svg) 50% no-repeat;
  background-color: #18a0fb;
  box-shadow: none;
}
.step-bar__selected__mini {
  background: #18a0fb;
  border: none;
  color: rgba(44, 44, 44, 1);
}
.step-bar__completed {
  border: 2px solid #18a0fb;
  background: url(../img/svg/v.svg) 50% no-repeat;
  background-color: #18a0fb;
  box-shadow: none;
}
.step-bar__completed__mini {
  background: #18a0fb;
  border: none;
}

.step-bar__progress {
  position: absolute;
  width: 100%;
  height: 56%;
  border-bottom: 2px solid #acaca6;
  z-index: -1;
}
.step-bar__progress__vertical {
  border-left: 2px solid #acaca6;
  width: 0%;
  height: 96%;
  margin-left: 7.5px;
}
.step-bar__progress__mini {
  width: 99%;
  height: 65%;
}
.step-bar__percent {
  position: absolute;
  width: 0;
  height: 131%;
  border-bottom: 2px solid #18a0fb;
  z-index: 1;
  transition: width 1s;
}
.step-bar__percent__vertical {
  border-left: 2px solid #18a0fb;
  height: 0;
  transition: height 1s;
  margin-left: -2px;
}
.step-bar__percent__mini {
  max-width: 100%;
}
.allert-zones {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  justify-content: space-around;
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  min-height: 42px;
  color: #ffffff;
  margin: 20px 0;
  font-size: 13px;
}
.allert-zones__box {
  background: #18a0fb;
  width: 313px;
  padding: 9px 13px;
  border-radius: 5px;
}
.allert-zones__box-red {
  background: rgba(255, 62, 29, 1);
  padding: 0;
  display: flex;
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
}
.allert-zones__box-red__white {
  background: #ffffff;
  color: #2c2c2c;
}

.allert-zone {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.allert-zone__red {
  flex-direction: column;
  align-items: stretch;
  padding-top: 13px;
  margin-left: 9px;
  margin-right: 53px;
}
.allert-zone__white {
  background: #ffffff;
  border: 1px solid rgba(224, 224, 224, 0.15);
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
  color: #2c2c2c;
}
.allert-zone__text {
  font-weight: bold;
}
.allert-zone__allert {
  margin-top: 10px;
  padding-bottom: 15px;
}
.circle-allert {
  width: 20px;
  height: 20px;
  border-radius: 40px;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: white;
  display: inline-block;
}
.circle-allert::before {
  content: "!";
  position: absolute;
  color: rgba(0, 0, 0, 1);
  top: 3px;
  left: 8px;
  font-weight: bold;
  font-size: 13px;
}
.circle-allert__red {
  background: rgba(255, 62, 29, 1);
}
.circle-allert__red::before {
  color: white;
}
.allert-zone__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 69px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.allert-btn {
  background: rgba(255, 62, 29, 1);
  font-size: 13px;
  color: #ffffff;
  padding: 8px 22px;
  width: 100%;
}
.allert-btn__white {
  background: white;
  color: #2c2c2c;
}
.allert-btn__up {
  font-weight: bold;
}
.allert-btn__up:hover,
.allert-btn__down:hover {
  opacity: 0.5;
}
.allert-btn__down {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.allert-zones__modal {
  padding: 0;
}
.modal__btn {
  background: transparent;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  padding: 0;
}
.modal__btn:hover {
  opacity: 0.5;
}
.modal {
  display: none;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 44, 44, 0.7);
  top: 0;
  left: 0;
}
.modal__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.modal__content {
  background: #ffffff;
  color: #2c2c2c;
  min-width: 313px;
  padding: 16px 16px;
}
.modal__text {
  margin-bottom: 24px;
}
.modal__title {
  font-weight: bold;
  margin-bottom: 10px;
}
.modal__close {
  position: relative;
  position: relative;
  top: -33px;
  right: -146px;
}
.modal__close::before {
  content: "+";
  position: absolute;
  z-index: 2;
  transform: rotate(45deg);
  font-size: 22px;
  line-height: 1;
  top: -9px;
  left: -3px;
  transition: all 0.7s cubic-bezier(0.77, 0, 0.2, 0.85);
  color: rgba(44, 44, 44, 0.5);
}
.modal__close:hover:before {
  color: rgba(44, 44, 44, 1);
}
.modal__buttons {
  display: flex;
  justify-content: flex-end;
}
.modal__cancel {
  padding: 10px 13px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background: #ffffff;
}
.modal__cancel:hover {
  background: rgba(44, 44, 44, 0.2);
}
.modal__sumbit {
  padding: 10px 24px;
  background: #18a0fb;
  border-radius: 5px;
  color: #ffffff;
  margin-left: 4px;
}
.modal__sumbit:hover {
  opacity: 0.5;
}
